/*
AliceBlue
#F0F8FF
AntiqueWhite
#FAEBD7
Aqua
#00FFFF
Aquamarine
#7FFFD4
Azure
#F0FFFF
Beige
#F5F5DC
Bisque
#FFE4C4
Black
#000000
BlanchedAlmond
#FFEBCD
Blue
#0000FF
BlueViolet
#8A2BE2
Brown
#A52A2A
BurlyWood
#DEB887
CadetBlue
#5F9EA0
Chartreuse
#7FFF00
Chocolate
#D2691E
Coral
#FF7F50
CornflowerBlue
#6495ED
Cornsilk
#FFF8DC
Crimson
#DC143C
Cyan
#00FFFF
DarkBlue
#00008B
DarkCyan
#008B8B
DarkGoldenRod
#B8860B
DarkGray
#A9A9A9
DarkGrey
#A9A9A9
DarkGreen
#006400
DarkKhaki
#BDB76B
DarkMagenta
#8B008B
DarkOliveGreen
#556B2F
DarkOrange
#FF8C00
DarkOrchid
#9932CC
DarkRed
#8B0000
DarkSalmon
#E9967A
DarkSeaGreen
#8FBC8F
DarkSlateBlue
#483D8B
DarkSlateGray
#2F4F4F
DarkSlateGrey
#2F4F4F
DarkTurquoise
#00CED1
DarkViolet
#9400D3
DeepPink
#FF1493
DeepSkyBlue
#00BFFF
DimGray
#696969
DimGrey
#696969
DodgerBlue
#1E90FF
FireBrick
#B22222
FloralWhite
#FFFAF0
ForestGreen
#228B22
Fuchsia
#FF00FF
Gainsboro
#DCDCDC
GhostWhite
#F8F8FF
Gold
#FFD700
GoldenRod
#DAA520
Gray
#808080
Grey
#808080
Green
#008000
GreenYellow
#ADFF2F
HoneyDew
#F0FFF0
HotPink
#FF69B4
IndianRed
#CD5C5C
Indigo
#4B0082
Ivory
#FFFFF0
Khaki
#F0E68C
Lavender
#E6E6FA
LavenderBlush
#FFF0F5
LawnGreen
#7CFC00
LemonChiffon
#FFFACD
LightBlue
#ADD8E6
LightCoral
#F08080
LightCyan
#E0FFFF
LightGoldenRodYellow
#FAFAD2
LightGray
#D3D3D3
LightGrey
#D3D3D3
LightGreen
#90EE90
LightPink
#FFB6C1
LightSalmon
#FFA07A
LightSeaGreen
#20B2AA
LightSkyBlue
#87CEFA
LightSlateGray
#778899
LightSlateGrey
#778899
LightSteelBlue
#B0C4DE
LightYellow
#FFFFE0
Lime
#00FF00
LimeGreen
#32CD32
Linen
#FAF0E6
Magenta
#FF00FF
Maroon
#800000
MediumAquaMarine
#66CDAA
MediumBlue
#0000CD
MediumOrchid
#BA55D3
MediumPurple
#9370DB
MediumSeaGreen
#3CB371
MediumSlateBlue
#7B68EE
MediumSpringGreen
#00FA9A
MediumTurquoise
#48D1CC
MediumVioletRed
#C71585
MidnightBlue
#191970
MintCream
#F5FFFA
MistyRose
#FFE4E1
Moccasin
#FFE4B5
NavajoWhite
#FFDEAD
Navy
#000080
OldLace
#FDF5E6
Olive
#808000
OliveDrab
#6B8E23
Orange
#FFA500
OrangeRed
#FF4500
Orchid
#DA70D6
PaleGoldenRod
#EEE8AA
PaleGreen
#98FB98
PaleTurquoise
#AFEEEE
PaleVioletRed
#DB7093
PapayaWhip
#FFEFD5
PeachPuff
#FFDAB9
Peru
#CD853F
Pink
#FFC0CB
Plum
#DDA0DD
PowderBlue
#B0E0E6
Purple
#800080
RebeccaPurple
#663399
Red
#FF0000
RosyBrown
#BC8F8F
RoyalBlue
#4169E1
SaddleBrown
#8B4513
Salmon
#FA8072
SandyBrown
#F4A460
SeaGreen
#2E8B57
SeaShell
#FFF5EE
Sienna
#A0522D
Silver
#C0C0C0
SkyBlue
#87CEEB
SlateBlue
#6A5ACD
SlateGray
#708090
SlateGrey
#708090
Snow
#FFFAFA
SpringGreen
#00FF7F
SteelBlue
#4682B4
Tan
#D2B48C
Teal
#008080
Thistle
#D8BFD8
Tomato
#FF6347
Turquoise
#40E0D0
Violet
#EE82EE
Wheat
#F5DEB3
White
#FFFFFF
WhiteSmoke
#F5F5F5
Yellow
#FFFF00
YellowGreen
#9ACD32
*/
.bg-aliceBlue {
  background-color: #F0F8FF !important;
}

.bg-AntiqueWhite {
  background-color: #FAEBD7 !important;
}

.bg-Aqua {
  background-color: #00FFFF !important;
}

.bg-Aquamarine {
  background-color: #7FFFD4 !important;
}

.bg-Azure {
  background-color: #F0FFFF !important;
}

.bg-Beige {
  background-color: #F5F5DC !important;
}

.bg-Bisque {
  background-color: #FFE4C4 !important;
}

.bg-Black {
  background-color: #000000 !important;
}

.bg-BlanchedAlmond {
  background-color: #FFEBCD !important;
}

.bg-Blue {
  background-color: #0000FF !important;
}

.bg-BlueViolet {
  background-color: #8A2BE2 !important;
}

.bg-Brown {
  background-color: #A52A2A !important;
}

.bg-BurlyWood {
  background-color: #DEB887 !important;
}

.bg-CadetBlue {
  background-color: #5F9EA0 !important;
}

.bg-Chartreuse {
  background-color: #7FFF00 !important;
}

.bg-Chocolate {
  background-color: #D2691E !important;
}

.bg-Coral {
  background-color: #FF7F50 !important;
}

.bg-CornflowerBlue {
  background-color: #6495ED !important;
}

.bg-Cornsilk {
  background-color: #FFF8DC !important;
}

.bg-Crimson {
  background-color: #DC143C !important;
}

.bg-Cyan {
  background-color: #00FFFF !important;
}

.bg-DarkBlue {
  background-color: #00008B !important;
}

.bg-DarkCyan {
  background-color: #008B8B !important;
}

.bg-DarkGoldenRod {
  background-color: #B8860B !important;
}

.bg-DarkGray {
  background-color: #A9A9A9 !important;
}

.bg-DarkGrey {
  background-color: #A9A9A9 !important;
}

.bg-DarkGreen {
  background-color: #006400 !important;
}

.bg-DarkKhaki {
  background-color: #BDB76B !important;
}

.bg-DarkMagenta {
  background-color: #8B008B !important;
}

.bg-DarkOliveGreen {
  background-color: #556B2F !important;
}

.bg-DarkOrange {
  background-color: #FF8C00 !important;
}

.bg-DarkOrchid {
  background-color: #9932CC !important;
}

.bg-DarkRed {
  background-color: #8B0000 !important;
}

.bg-DarkSalmon {
  background-color: #E9967A !important;
}

.bg-DarkSeaGreen {
  background-color: #8FBC8F !important;
}

.bg-DarkSlateBlue {
  background-color: #483D8B !important;
}

.bg-DarkSlateGray {
  background-color: #2F4F4F !important;
}

.bg-DarkSlateGrey {
  background-color: #2F4F4F !important;
}

.bg-DarkTurquoise {
  background-color: #00CED1 !important;
}

.bg-DarkViolet {
  background-color: #9400D3 !important;
}

.bg-DeepPink {
  background-color: #FF1493 !important;
}

.bg-DeepSkyBlue {
  background-color: #00BFFF !important;
}

.bg-DimGray {
  background-color: #696969 !important;
}

.bg-DimGrey {
  background-color: #696969 !important;
}

.bg-DodgerBlue {
  background-color: #1E90FF !important;
}

.bg-FireBrick {
  background-color: #B22222 !important;
}

.bg-FloralWhite {
  background-color: #FFFAF0 !important;
}

.bg-ForestGreen {
  background-color: #228B22 !important;
}

.bg-Fuchsia {
  background-color: #FF00FF !important;
}

.bg-Gainsboro {
  background-color: #DCDCDC !important;
}

.bg-GhostWhite {
  background-color: #F8F8FF !important;
}

.bg-Gold {
  background-color: #FFD700 !important;
}

.bg-GoldenRod {
  background-color: #DAA520 !important;
}

.bg-Gray {
  background-color: #808080 !important;
}

.bg-Grey {
  background-color: #808080 !important;
}

.bg-Green {
  background-color: #008000 !important;
}

.bg-GreenYellow {
  background-color: #ADFF2F !important;
}

.bg-HoneyDew {
  background-color: #F0FFF0 !important;
}

.bg-HotPink {
  background-color: #FF69B4 !important;
}

.bg-IndianRed {
  background-color: #CD5C5C !important;
}

.bg-Indigo {
  background-color: #4B0082 !important;
}

.bg-Ivory {
  background-color: #FFFFF0 !important;
}

.bg-Khaki {
  background-color: #F0E68C !important;
}

.bg-Lavender {
  background-color: #E6E6FA !important;
}

.bg-LavenderBlush {
  background-color: #FFF0F5 !important;
}

.bg-LawnGreen {
  background-color: #7CFC00 !important;
}

.bg-LemonChiffon {
  background-color: #FFFACD !important;
}

.bg-LightBlue {
  background-color: #ADD8E6 !important;
}

.bg-LightCoral {
  background-color: #F08080 !important;
}

.bg-LightCyan {
  background-color: #E0FFFF !important;
}

.bg-LightGoldenRodYellow {
  background-color: #FAFAD2 !important;
}

.bg-LightGray {
  background-color: #D3D3D3 !important;
}

.bg-LightGrey {
  background-color: #D3D3D3 !important;
}

.bg-LightGreen {
  background-color: #90EE90 !important;
}

.bg-LightPink {
  background-color: #FFB6C1 !important;
}

.bg-LightSalmon {
  background-color: #FFA07A !important;
}

.bg-LightSeaGreen {
  background-color: #20B2AA !important;
}

.bg-LightSkyBlue {
  background-color: #87CEFA !important;
}

.bg-LightSlateGray {
  background-color: #778899 !important;
}

.bg-LightSlateGrey {
  background-color: #778899 !important;
}

.bg-LightSteelBlue {
  background-color: #B0C4DE !important;
}

.bg-LightYellow {
  background-color: #FFFFE0 !important;
}

.bg-Lime {
  background-color: #00FF00 !important;
}

.bg-LimeGreen {
  background-color: #32CD32 !important;
}

.bg-Linen {
  background-color: #FAF0E6 !important;
}

.bg-Magenta {
  background-color: #FF00FF !important;
}

.bg-Maroon {
  background-color: #800000 !important;
}

.bg-MediumAquaMarine {
  background-color: #66CDAA !important;
}

.bg-MediumBlue {
  background-color: #0000CD !important;
}

.bg-MediumOrchid {
  background-color: #BA55D3 !important;
}

.bg-MediumPurple {
  background-color: #9370DB !important;
}

.bg-MediumSeaGreen {
  background-color: #3CB371 !important;
}

.bg-MediumSlateBlue {
  background-color: #7B68EE !important;
}

.bg-MediumSpringGreen {
  background-color: #00FA9A !important;
}

.bg-MediumTurquoise {
  background-color: #48D1CC !important;
}

.bg-MediumVioletRed {
  background-color: #C71585 !important;
}

.bg-MidnightBlue {
  background-color: #191970 !important;
}

.bg-MintCream {
  background-color: #F5FFFA !important;
}

.bg-MistyRose {
  background-color: #FFE4E1 !important;
}

.bg-Moccasin {
  background-color: #FFE4B5 !important;
}

.bg-NavajoWhite {
  background-color: #FFDEAD !important;
}

.bg-Navy {
  background-color: #000080 !important;
}

.bg-OldLace {
  background-color: #FDF5E6 !important;
}

.bg-Olive {
  background-color: #808000 !important;
}

.bg-OliveDrab {
  background-color: #6B8E23 !important;
}

.bg-Orange {
  background-color: #FFA500 !important;
}

.bg-OrangeRed {
  background-color: #FF4500 !important;
}

.bg-Orchid {
  background-color: #DA70D6 !important;
}

.bg-PaleGoldenRod {
  background-color: #EEE8AA !important;
}

.bg-PaleGreen {
  background-color: #98FB98 !important;
}

.bg-PaleTurquoise {
  background-color: #AFEEEE !important;
}

.bg-PaleVioletRed {
  background-color: #DB7093 !important;
}

.bg-PapayaWhip {
  background-color: #FFEFD5 !important;
}

.bg-PeachPuff {
  background-color: #FFDAB9 !important;
}

.bg-Peru {
  background-color: #CD853F !important;
}

.bg-Pink {
  background-color: #FFC0CB !important;
}

.bg-Plum {
  background-color: #DDA0DD !important;
}

.bg-PowderBlue {
  background-color: #B0E0E6 !important;
}

.bg-Purple {
  background-color: #800080 !important;
}

.bg-RebeccaPurple {
  background-color: #663399 !important;
}

.bg-Red {
  background-color: #FF0000 !important;
}

.bg-RosyBrown {
  background-color: #BC8F8F !important;
}

.bg-RoyalBlue {
  background-color: #4169E1 !important;
}

.bg-SaddleBrown {
  background-color: #8B4513 !important;
}

.bg-Salmon {
  background-color: #FA8072 !important;
}

.bg-SandyBrown {
  background-color: #F4A460 !important;
}

.bg-SeaGreen {
  background-color: #2E8B57 !important;
}

.bg-SeaShell {
  background-color: #FFF5EE !important;
}

.bg-Sienna {
  background-color: #A0522D !important;
}

.bg-Silver {
  background-color: #C0C0C0 !important;
}

.bg-SkyBlue {
  background-color: #87CEEB !important;
}

.bg-SlateBlue {
  background-color: #6A5ACD !important;
}

.bg-SlateGray {
  background-color: #708090 !important;
}

.bg-SlateGrey {
  background-color: #708090 !important;
}

.bg-Snow {
  background-color: #FFFAFA !important;
}

.bg-SpringGreen {
  background-color: #00FF7F !important;
}

.bg-SteelBlue {
  background-color: #4682B4 !important;
}

.bg-Tan {
  background-color: #D2B48C !important;
}

.bg-Teal {
  background-color: #008080 !important;
}

.bg-Thistle {
  background-color: #D8BFD8 !important;
}

.bg-Tomato {
  background-color: #FF6347 !important;
}

.bg-Turquoise {
  background-color: #40E0D0 !important;
}

.bg-Violet {
  background-color: #EE82EE !important;
}

.bg-Wheat {
  background-color: #F5DEB3 !important;
}

.bg-White {
  background-color: #FFFFFF !important;
}

.bg-WhiteSmoke {
  background-color: #F5F5F5 !important;
}

.bg-Yellow {
  background-color: #FFFF00 !important;
}

.bg-YellowGreen {
  background-color: #9ACD32 !important;
}
/*# sourceMappingURL=background-color.css.map */