/*
AliceBlue
#F0F8FF
AntiqueWhite
#FAEBD7
Aqua
#00FFFF
Aquamarine
#7FFFD4
Azure
#F0FFFF
Beige
#F5F5DC
Bisque
#FFE4C4
Black
#000000
BlanchedAlmond
#FFEBCD
Blue
#0000FF
BlueViolet
#8A2BE2
Brown
#A52A2A
BurlyWood
#DEB887
CadetBlue
#5F9EA0
Chartreuse
#7FFF00
Chocolate
#D2691E
Coral
#FF7F50
CornflowerBlue
#6495ED
Cornsilk
#FFF8DC
Crimson
#DC143C
Cyan
#00FFFF
DarkBlue
#00008B
DarkCyan
#008B8B
DarkGoldenRod
#B8860B
DarkGray
#A9A9A9
DarkGrey
#A9A9A9
DarkGreen
#006400
DarkKhaki
#BDB76B
DarkMagenta
#8B008B
DarkOliveGreen
#556B2F
DarkOrange
#FF8C00
DarkOrchid
#9932CC
DarkRed
#8B0000
DarkSalmon
#E9967A
DarkSeaGreen
#8FBC8F
DarkSlateBlue
#483D8B
DarkSlateGray
#2F4F4F
DarkSlateGrey
#2F4F4F
DarkTurquoise
#00CED1
DarkViolet
#9400D3
DeepPink
#FF1493
DeepSkyBlue
#00BFFF
DimGray
#696969
DimGrey
#696969
DodgerBlue
#1E90FF
FireBrick
#B22222
FloralWhite
#FFFAF0
ForestGreen
#228B22
Fuchsia
#FF00FF
Gainsboro
#DCDCDC
GhostWhite
#F8F8FF
Gold
#FFD700
GoldenRod
#DAA520
Gray
#808080
Grey
#808080
Green
#008000
GreenYellow
#ADFF2F
HoneyDew
#F0FFF0
HotPink
#FF69B4
IndianRed
#CD5C5C
Indigo
#4B0082
Ivory
#FFFFF0
Khaki
#F0E68C
Lavender
#E6E6FA
LavenderBlush
#FFF0F5
LawnGreen
#7CFC00
LemonChiffon
#FFFACD
LightBlue
#ADD8E6
LightCoral
#F08080
LightCyan
#E0FFFF
LightGoldenRodYellow
#FAFAD2
LightGray
#D3D3D3
LightGrey
#D3D3D3
LightGreen
#90EE90
LightPink
#FFB6C1
LightSalmon
#FFA07A
LightSeaGreen
#20B2AA
LightSkyBlue
#87CEFA
LightSlateGray
#778899
LightSlateGrey
#778899
LightSteelBlue
#B0C4DE
LightYellow
#FFFFE0
Lime
#00FF00
LimeGreen
#32CD32
Linen
#FAF0E6
Magenta
#FF00FF
Maroon
#800000
MediumAquaMarine
#66CDAA
MediumBlue
#0000CD
MediumOrchid
#BA55D3
MediumPurple
#9370DB
MediumSeaGreen
#3CB371
MediumSlateBlue
#7B68EE
MediumSpringGreen
#00FA9A
MediumTurquoise
#48D1CC
MediumVioletRed
#C71585
MidnightBlue
#191970
MintCream
#F5FFFA
MistyRose
#FFE4E1
Moccasin
#FFE4B5
NavajoWhite
#FFDEAD
Navy
#000080
OldLace
#FDF5E6
Olive
#808000
OliveDrab
#6B8E23
Orange
#FFA500
OrangeRed
#FF4500
Orchid
#DA70D6
PaleGoldenRod
#EEE8AA
PaleGreen
#98FB98
PaleTurquoise
#AFEEEE
PaleVioletRed
#DB7093
PapayaWhip
#FFEFD5
PeachPuff
#FFDAB9
Peru
#CD853F
Pink
#FFC0CB
Plum
#DDA0DD
PowderBlue
#B0E0E6
Purple
#800080
RebeccaPurple
#663399
Red
#FF0000
RosyBrown
#BC8F8F
RoyalBlue
#4169E1
SaddleBrown
#8B4513
Salmon
#FA8072
SandyBrown
#F4A460
SeaGreen
#2E8B57
SeaShell
#FFF5EE
Sienna
#A0522D
Silver
#C0C0C0
SkyBlue
#87CEEB
SlateBlue
#6A5ACD
SlateGray
#708090
SlateGrey
#708090
Snow
#FFFAFA
SpringGreen
#00FF7F
SteelBlue
#4682B4
Tan
#D2B48C
Teal
#008080
Thistle
#D8BFD8
Tomato
#FF6347
Turquoise
#40E0D0
Violet
#EE82EE
Wheat
#F5DEB3
White
#FFFFFF
WhiteSmoke
#F5F5F5
Yellow
#FFFF00
YellowGreen
#9ACD32
*/
.text-aliceBlue {
  color: #F0F8FF !important;
}

.text-AntiqueWhite {
  color: #FAEBD7 !important;
}

.text-Aqua {
  color: #00FFFF !important;
}

.text-Aquamarine {
  color: #7FFFD4 !important;
}

.text-Azure {
  color: #F0FFFF !important;
}

.text-Beige {
  color: #F5F5DC !important;
}

.text-Bisque {
  color: #FFE4C4 !important;
}

.text-Black {
  color: #000000 !important;
}

.text-BlanchedAlmond {
  color: #FFEBCD !important;
}

.text-Blue {
  color: #0000FF !important;
}

.text-BlueViolet {
  color: #8A2BE2 !important;
}

.text-Brown {
  color: #A52A2A !important;
}

.text-BurlyWood {
  color: #DEB887 !important;
}

.text-CadetBlue {
  color: #5F9EA0 !important;
}

.text-Chartreuse {
  color: #7FFF00 !important;
}

.text-Chocolate {
  color: #D2691E !important;
}

.text-Coral {
  color: #FF7F50 !important;
}

.text-CornflowerBlue {
  color: #6495ED !important;
}

.text-Cornsilk {
  color: #FFF8DC !important;
}

.text-Crimson {
  color: #DC143C !important;
}

.text-Cyan {
  color: #00FFFF !important;
}

.text-DarkBlue {
  color: #00008B !important;
}

.text-DarkCyan {
  color: #008B8B !important;
}

.text-DarkGoldenRod {
  color: #B8860B !important;
}

.text-DarkGray {
  color: #A9A9A9 !important;
}

.text-DarkGrey {
  color: #A9A9A9 !important;
}

.text-DarkGreen {
  color: #006400 !important;
}

.text-DarkKhaki {
  color: #BDB76B !important;
}

.text-DarkMagenta {
  color: #8B008B !important;
}

.text-DarkOliveGreen {
  color: #556B2F !important;
}

.text-DarkOrange {
  color: #FF8C00 !important;
}

.text-DarkOrchid {
  color: #9932CC !important;
}

.text-DarkRed {
  color: #8B0000 !important;
}

.text-DarkSalmon {
  color: #E9967A !important;
}

.text-DarkSeaGreen {
  color: #8FBC8F !important;
}

.text-DarkSlateBlue {
  color: #483D8B !important;
}

.text-DarkSlateGray {
  color: #2F4F4F !important;
}

.text-DarkSlateGrey {
  color: #2F4F4F !important;
}

.text-DarkTurquoise {
  color: #00CED1 !important;
}

.text-DarkViolet {
  color: #9400D3 !important;
}

.text-DeepPink {
  color: #FF1493 !important;
}

.text-DeepSkyBlue {
  color: #00BFFF !important;
}

.text-DimGray {
  color: #696969 !important;
}

.text-DimGrey {
  color: #696969 !important;
}

.text-DodgerBlue {
  color: #1E90FF !important;
}

.text-FireBrick {
  color: #B22222 !important;
}

.text-FloralWhite {
  color: #FFFAF0 !important;
}

.text-ForestGreen {
  color: #228B22 !important;
}

.text-Fuchsia {
  color: #FF00FF !important;
}

.text-Gainsboro {
  color: #DCDCDC !important;
}

.text-GhostWhite {
  color: #F8F8FF !important;
}

.text-Gold {
  color: #FFD700 !important;
}

.text-GoldenRod {
  color: #DAA520 !important;
}

.text-Gray {
  color: #808080 !important;
}

.text-Grey {
  color: #808080 !important;
}

.text-Green {
  color: #008000 !important;
}

.text-GreenYellow {
  color: #ADFF2F !important;
}

.text-HoneyDew {
  color: #F0FFF0 !important;
}

.text-HotPink {
  color: #FF69B4 !important;
}

.text-IndianRed {
  color: #CD5C5C !important;
}

.text-Indigo {
  color: #4B0082 !important;
}

.text-Ivory {
  color: #FFFFF0 !important;
}

.text-Khaki {
  color: #F0E68C !important;
}

.text-Lavender {
  color: #E6E6FA !important;
}

.text-LavenderBlush {
  color: #FFF0F5 !important;
}

.text-LawnGreen {
  color: #7CFC00 !important;
}

.text-LemonChiffon {
  color: #FFFACD !important;
}

.text-LightBlue {
  color: #ADD8E6 !important;
}

.text-LightCoral {
  color: #F08080 !important;
}

.text-LightCyan {
  color: #E0FFFF !important;
}

.text-LightGoldenRodYellow {
  color: #FAFAD2 !important;
}

.text-LightGray {
  color: #D3D3D3 !important;
}

.text-LightGrey {
  color: #D3D3D3 !important;
}

.text-LightGreen {
  color: #90EE90 !important;
}

.text-LightPink {
  color: #FFB6C1 !important;
}

.text-LightSalmon {
  color: #FFA07A !important;
}

.text-LightSeaGreen {
  color: #20B2AA !important;
}

.text-LightSkyBlue {
  color: #87CEFA !important;
}

.text-LightSlateGray {
  color: #778899 !important;
}

.text-LightSlateGrey {
  color: #778899 !important;
}

.text-LightSteelBlue {
  color: #B0C4DE !important;
}

.text-LightYellow {
  color: #FFFFE0 !important;
}

.text-Lime {
  color: #00FF00 !important;
}

.text-LimeGreen {
  color: #32CD32 !important;
}

.text-Linen {
  color: #FAF0E6 !important;
}

.text-Magenta {
  color: #FF00FF !important;
}

.text-Maroon {
  color: #800000 !important;
}

.text-MediumAquaMarine {
  color: #66CDAA !important;
}

.text-MediumBlue {
  color: #0000CD !important;
}

.text-MediumOrchid {
  color: #BA55D3 !important;
}

.text-MediumPurple {
  color: #9370DB !important;
}

.text-MediumSeaGreen {
  color: #3CB371 !important;
}

.text-MediumSlateBlue {
  color: #7B68EE !important;
}

.text-MediumSpringGreen {
  color: #00FA9A !important;
}

.text-MediumTurquoise {
  color: #48D1CC !important;
}

.text-MediumVioletRed {
  color: #C71585 !important;
}

.text-MidnightBlue {
  color: #191970 !important;
}

.text-MintCream {
  color: #F5FFFA !important;
}

.text-MistyRose {
  color: #FFE4E1 !important;
}

.text-Moccasin {
  color: #FFE4B5 !important;
}

.text-NavajoWhite {
  color: #FFDEAD !important;
}

.text-Navy {
  color: #000080 !important;
}

.text-OldLace {
  color: #FDF5E6 !important;
}

.text-Olive {
  color: #808000 !important;
}

.text-OliveDrab {
  color: #6B8E23 !important;
}

.text-Orange {
  color: #FFA500 !important;
}

.text-OrangeRed {
  color: #FF4500 !important;
}

.text-Orchid {
  color: #DA70D6 !important;
}

.text-PaleGoldenRod {
  color: #EEE8AA !important;
}

.text-PaleGreen {
  color: #98FB98 !important;
}

.text-PaleTurquoise {
  color: #AFEEEE !important;
}

.text-PaleVioletRed {
  color: #DB7093 !important;
}

.text-PapayaWhip {
  color: #FFEFD5 !important;
}

.text-PeachPuff {
  color: #FFDAB9 !important;
}

.text-Peru {
  color: #CD853F !important;
}

.text-Pink {
  color: #FFC0CB !important;
}

.text-Plum {
  color: #DDA0DD !important;
}

.text-PowderBlue {
  color: #B0E0E6 !important;
}

.text-Purple {
  color: #800080 !important;
}

.text-RebeccaPurple {
  color: #663399 !important;
}

.text-Red {
  color: #FF0000 !important;
}

.text-RosyBrown {
  color: #BC8F8F !important;
}

.text-RoyalBlue {
  color: #4169E1 !important;
}

.text-SaddleBrown {
  color: #8B4513 !important;
}

.text-Salmon {
  color: #FA8072 !important;
}

.text-SandyBrown {
  color: #F4A460 !important;
}

.text-SeaGreen {
  color: #2E8B57 !important;
}

.text-SeaShell {
  color: #FFF5EE !important;
}

.text-Sienna {
  color: #A0522D !important;
}

.text-Silver {
  color: #C0C0C0 !important;
}

.text-SkyBlue {
  color: #87CEEB !important;
}

.text-SlateBlue {
  color: #6A5ACD !important;
}

.text-SlateGray {
  color: #708090 !important;
}

.text-SlateGrey {
  color: #708090 !important;
}

.text-Snow {
  color: #FFFAFA !important;
}

.text-SpringGreen {
  color: #00FF7F !important;
}

.text-SteelBlue {
  color: #4682B4 !important;
}

.text-Tan {
  color: #D2B48C !important;
}

.text-Teal {
  color: #008080 !important;
}

.text-Thistle {
  color: #D8BFD8 !important;
}

.text-Tomato {
  color: #FF6347 !important;
}

.text-Turquoise {
  color: #40E0D0 !important;
}

.text-Violet {
  color: #EE82EE !important;
}

.text-Wheat {
  color: #F5DEB3 !important;
}

.text-White {
  color: #FFFFFF !important;
}

.text-WhiteSmoke {
  color: #F5F5F5 !important;
}

.text-Yellow {
  color: #FFFF00 !important;
}

.text-YellowGreen {
  color: #9ACD32 !important;
}
/*# sourceMappingURL=text-color.css.map */